:root { 
  --prime-color: #ffffffee;
  --second-color: #000000; 
  --third-color: #9a4dff;
  --fourth-color: rgba(0, 0, 0, 0.15);
  --prime-font: "Epilogue-Regular", sans-serif;
}


@font-face {
  font-family: "Epilogue-Regular";
  src: url("Epilogue-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--prime-font);
  width: 100vw;
}

.text {
  margin: 12px 0 16px 12px;
  width: 75%;
}

.link {
   margin: 4px 0 4px 12px;
   width: 75%;
}

a:link, a:active, a:visited {
  color: var(--third-color);
  text-decoration: none;
}

a:hover {
  color: #000000;
  transition: all 0.3s ease;
}

a:focus-visible {
  outline: none;
  background-color: var(--fourth-color);
}

button {
  font-family: var(--prime-font);
  background-color: var(--fourth-color);
  border: none;
  padding: 5px 6px 4px 6px;
  margin: 4px 0 4px 12px;
}

button:hover {
  background-color: var(--third-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:focus-visible {
  outline: none;
  background-color: var(--fourth-color);
}


input, textarea {
  width: 100%;
  border: none;
  padding: 4px;
  margin: 6px 0 6px 0;
  font-family: var(--prime-font);
  color: var(--third-color);
  border-bottom: 1px solid var(--second-color); 
  background-color: #ffffff00; 
}

input:focus-visible, textarea:focus-visible, button:focus-visible {
    outline: none;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.showcase.item {
  margin:  0 0 54px 0;
}

.showcase.img img {
  width: 100%;
}

.about.container {
  background-color: var(--prime-color) ;
}

.about.item {
  width: 85%;
  margin:  0 0 16px 0;
}




/*Snap Scroll, wenn der Benutzer nicht Animationen deaktivert hat*/
@media (prefers-reduced-motion: no-preference) {
  html,
  body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-padding: 0;
  }

  section {
    scroll-snap-align: start;
    scroll-margin: 0;
  }
}


@media (min-width: 900px) {
.showcase.text {
    width: 40%;
  }

.about.container {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vw;
    background-color: var(--prime-color) ;
    z-index: 1;
  }
}